<div class="forgot-password-container">
    <!-- Forgot Password Card -->
    <div class="card">
      <!-- Logo -->
      <div class="logo">
        <div class="logo-circle">
          <span class="logo-text">T</span>
        </div>
        <h1 class="section-title">TaskIt</h1>
        <p class="body-text">Passwort vergessen</p>
      </div>
  
      <!-- Forgot Password Form -->
      <form (ngSubmit)="sendResetLink()" #forgotPasswordForm="ngForm">
        <div class="input-field">
          <input
            type="email"
            id="email"
            [(ngModel)]="email"
            name="email"
            placeholder="Email eingeben"
            required
          />
        </div>
        <p *ngIf="message" class="success-text">{{ message }}</p>
        <p *ngIf="errorMessage" class="error-text">{{ errorMessage }}</p>
        <button type="submit" class="btn-primary">Link anfordern</button>
      </form>
  
      <!-- Links -->
      <div class="links">
        <a (click)="onLoginClick()" class="small-text link">Zurück zum Login</a>
      </div>
    </div>
  </div>